language: scala
scala:
- 2.10.6
- 2.11.8
- 2.12.0-M4

jdk: oraclejdk8

sudo: false
cache:
  directories:
    - $HOME/.ivy2/cache

env:
  global:
  - secure: jfrv5fJCz7Ryo/CYniB9P3KGZt580mRxuFblFfK6kUtib9NYmGW7ZYJUFs/IbIbKhY/vE0Jt1ksoORIBCMcxshvYSMC3LFsdEq/tuM92aUKt04y0R43gaoXyGsOeuzKujdQBuh1SooCwaGIugioMnuMUGnSFhWSUyqbNQa2k6YE=

script: sbt ++$TRAVIS_SCALA_VERSION test
after_success:
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && sbt ++$TRAVIS_SCALA_VERSION
  publish
- test $TRAVIS_SCALA_VERSION == "2.11.4" && test $TRAVIS_PULL_REQUEST == "false" &&
  test $TRAVIS_BRANCH == "master"
